<div class="container" style="    background-color: white;
margin-top: 80px;
min-height:700px; " >
  <div class="row">
    <div class="col-sm-8">
      <div class="row">
        <div class="col-sm-6">
            <div class="imgdiv">
                <img src={{heroImageUrl}} alt="image"  width="500" height="600" class="img-thumbnail">
            </div>
           
        </div>
        <div class="col-sm-6 contentdiv">
            <div>
                <p class="titlecss">Secret of Success</p>
            </div>
            <div class="descriptdiv">
                <p>It's called your first love because it's also the first time you feel what happens when it's over. It's the first time you'll feel as though a fist ripped through your chest and gripped your heart,
                     pulling it out. It's the first time you'll cry so hard over another person, you can't breathe.</p>
            </div>
        </div>
      </div>
    </div>
    <div class="col-sm-4 sidediv">
      <div>
        <p>Please login to unlock the Rentalduration & Rentalprice of the book</p>
      </div>
      <div style="    border: 1px solid grey;">
        <!-- checking for roles of the user -->

        <!-- if the user is Admin -->
        <div class="adminbtn">
          <button type="button" class="bg-primary " mat-button (click)="CreateRental()" >Create Rental</button>
        </div>

        <!-- checking the roles of user Payforrental or Member only see this -->
        <div>
          <p class="rentldurpric">Rentalduration and Rentalprice of this book</p>
          <form #form="ngForm" (ngSubmit)="Rentalbook(form)" style="    margin-left: 50px;">
              <mat-form-field class="example-full-width" >
                  <mat-select placeholder="Duration" [(ngModel)]="selectedValue" name="food">
                    <mat-option *ngFor="let food of foods" [value]="food.value">
                      {{food.viewValue}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
                <!-- this button will display based on Availbility of books in store
                if books Availability is greater than 0, then it will display Reserve button.
                if books Availlability is less than or equal to 0 then it will display the Unserve buuton in disabled state -->
                <button type="submit" style="    margin-left: 50px;"  mat-raised-button class="bg-success ">Reserve <i class="material-icons">
                    thumb_up_alt
                    </i></button>

                    <!-- <button type="submit"  mat-raised-button class="bg-success ">Reserve<i class="material-icons">
                        thumb_down_alt
                        </i></button> -->
          </form>
          <div style="margin-top: 70px; padding-left: 6px;">
            <div class="row">
              <div class="col-sm-6"> 
                  <span>Author:</span>
              </div>
              <div class="col-sm-6">
                  <p class="">M.SureshKumar </p>
              </div>
            </div>
            <div class="row">
                <div class="col-sm-6"> 
                    <span class="paracss">Cost:</span>
                </div>
                <div class="col-sm-6">
                    <p class="">500/-- </p>
                </div>
              </div>
              <div class="row">
                  <div class="col-sm-6"> 
                      <span class="paracss">Publication:</span>
                  </div>
                  <div class="col-sm-6">
                      <p class="">Geetha Publications</p>
                  </div>
                </div>
                <div class="row">
                    <div class="col-sm-6"> 
                        <span class="paracss">Publication date:</span>
                    </div>
                    <div class="col-sm-6">
                        <p class="">14/02/2002 </p>
                    </div>
                  </div>
                  <div class="row">
                      <div class="col-sm-6"> 
                          <span class="paracss">Dimensions:</span>
                      </div>
                      <div class="col-sm-6">
                          <p class="">122 x 144.5 </p>
                      </div>
                    </div>
                   
            <!-- <div class="row" style="margin-left: 55px;">
                <span class="paracss">Cost:</span>
                <p class="">500/-- </p>
            </div>
            <div class="row" style="margin-left: 55px;">
                <span class="paracss">Pages:</span>
                <p class="">500 </p>
            </div>
            <div class="row" style="margin-left: 55px;">
                <span class="paracss">Publication:</span>
                <p class="">Geetha Publications</p>
            </div>
            <div class="row" style="margin-left: 55px;">
                <span class="paracss">Publication date:</span>
                <p class="">14/02/2002 </p>
            </div>
            <div class="row" style="margin-left: 55px;">
                <span class="paracss">Dimensions:</span>
                <p class="">122 x 144.5 </p>
            </div> -->
          </div>
        
        </div>
      </div>
    </div>
  </div>
</div>
