<div class="container" style="margin-top: 70px;background-color: white;" >
    <div class="row">
        <div class="col-sm-3 bookcss ">
            <a class="nav-link" [routerLink]="['/bookdetail','id']">
                    <div>
                            <img src={{heroImageUrl}} alt="image"  width="500" height="600" class="img-thumbnail">
                         </div>
                         <div>
                             <p class="titlecss">Secret of Success</p>
                         </div>
                         <div>
                             <p class="descss">It's called your first love because it's also the first time you feel what happens when it's over. It's the first time you'll feel as though a fist ripped through your chest and gripped your heart,
                                  pulling it out. It's the first time you'll cry so hard over another person, you can't breathe.</p>
                         </div>
            </a>
           
        </div>
       
        <div class="col-sm-3 bookcss ">
            <a class="nav-link" [routerLink]="['/bookdetail','id']">
             <div>
                        <img src={{herosimg}} alt="image"  width="500" height="600" class="img-thumbnail">
                    </div>
                    <div>
                        <p class="titlecss">A Breif Histroy Of Time</p>
                    </div>
                    <div>
                        <p  class="descss">It's called your first love because it's also the first time you feel what happens when it's over. It's the first time you'll feel as though a fist ripped through your chest and gripped your heart,
                             pulling it out. It's the first time you'll cry so hard over another person, you can't breathe.</p>
                    </div>
       
            </a>
        </div> 
       
        <div class="col-sm-3 bookcss ">
        <a class="nav-link" [routerLink]="['/bookdetail','id']">
         <div>
                        <img src={{heroimng}} alt="image"  width="500" height="600" class="img-thumbnail">
                    </div>
                    <div>
                        <p class="titlecss">Its Pure Love Story</p>
                    </div>
                    <div>
                        <p  class="descss">It's called your first love because it's also the first time you feel what happens when it's over. It's the first time you'll feel as though a fist ripped through your chest and gripped your heart,
                             pulling it out. It's the first time you'll cry so hard over another person, you can't breathe.</p>
                    </div>
       
        </a>
    </div>   
        
        <div class="col-sm-3 bookcss ">
        <a class="nav-link" [routerLink]="['/bookdetail','id']">
           <div>
                        <img src={{heroImageUrl}} alt="image"  width="500" height="600" class="img-thumbnail">
                    </div>
                    <div>
                        <p class="titlecss">Secret of Success in Life</p>
                    </div>
                    <div>
                        <p  class="descss">It's called your first love because it's also the first time you feel what happens when it's over. It's the first time you'll feel as though a fist ripped through your chest and gripped your heart,
                             pulling it out. It's the first time you'll cry so hard over another person, you can't breathe.</p>
                    </div>
       
        </a>
    </div>
        <div class="col-sm-3 bookcss mt-3">
            <a class="nav-link" [routerLink]="['/bookdetail','id']">
                <div>
                        <img src={{herimges}} alt="image"  width="500" height="600" class="img-thumbnail">
                    </div>
                    <div>
                        <p class="titlecss">Famous Last Words</p>
                    </div>
                    <div>
                        <p  class="descss">It's called your first love because it's also the first time you feel what happens when it's over. It's the first time you'll feel as though a fist ripped through your chest and gripped your heart,
                             pulling it out. It's the first time you'll cry so hard over another person, you can't breathe.</p>
                    </div>
            </a>
        </div>
         
    </div>
</div>